build
doc/description.bbl
doc/description.blg
doc/description.dvi
doc/description.pdf
doc/description.ps
doc/description.aux
doc/description.log
doc/description.synctex.gz
doc/temperature_vs_radius-eps-converted-to.pdf
